.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  font-family: "Fira Code", monospace;
  background-color: white;
  z-index: 1;
  img {
    height: 40px;
    width: 50px;
    margin-left: 2px;
    margin-top: 2px;
  }
}

.brand-title {
  display: flex;
  padding: 0.325rem 0rem;
  p {
    margin: auto;
    font-weight: 600;
    font-size: 17px;
  }
}

.navbar-links {
  height: 100%;
  .ui_button {
    color: white !important;
  }
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #221f20;
  padding: 1rem 2rem;
}

.navbar-links li:hover {
  background-color: #f8f9fa;
}

.toggle-button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #221f20;
  border-radius: 10px;
}

.mobile_auth_buttons {
  display: none;
  position: absolute;
  padding: 1.15rem 0rem;
  right: 7rem;
  text-decoration: none;
  color: #221f20;
}

.desktop_auth_buttons {
  display: block !important;
}

.number {
  margin: auto;
}

.language_toggle {
  display: flex;
  align-items: center;
  margin: auto;
  &:hover {
    background-color: #f8f9fa;
  }
}

.ui_button {
  margin: 4px 1rem!important;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .number {
    padding-bottom: 10px;
  }

  .mobile_auth_buttons {
    display: block;
  }

  .desktop_auth_buttons {
    display: none !important;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

@media (max-width: 400px) {
  .navbar {
    .brand-title {
      p {
        display: none;
      }
    }
  }
}
