.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  
  font-family: "Fira Code", monospace;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid #e3e3e3;
  
  img {
    height: 50px;
    width: 50px;
    margin-left: 2px;
    margin-top: 2px;
  }
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #221f20;
  padding: 1rem 2rem;
}

.navbar-links li:hover {
  background-color: #f8f9fa;
}

.toggle-button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #221f20;
  border-radius: 10px;
}

.mobile_language_toggle {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 6rem;
  flex-direction: column;
  justify-content: space-between;
}

.desktop_language_toggle {
  display: flex;
  align-items: center;
  &:hover {
    background-color: #f8f9fa;
  }
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
   
    position: relative;
    box-shadow: none;
  }

  .desktop_language_toggle {
    display: none;
  }

  .mobile_language_toggle {
    display: block;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
