.applied_boxes {
  display: block;
}

@media only screen and (min-width: 978px) {
  .applied_boxes {
    display: flex;

    &_tutor_list {
      width: 50%;
    }
    &_more_info {
      width: 50%;
    }
  }
}
