.more_info {
  border-left: 0px;
  padding: 20px 0px;
  .posting_button {
    display: flex;
    width: 75%;
    button {
      background-color: #2cc3a0;
      &:hover {
        background-color: rgb(78, 204, 175);
      }
    }
  }
  .avatar_container {
    padding: 20px 0px;
    .avatar {
      max-width: 65%;
      height: 300px;
      border-radius: 20px;
      border: 1px solid #e3e3e3;
    }
  }

  .tutorinfo_content {
    padding: 20px 0px;
    .tutorinfo_text {
      h2 {
        font-weight: 500;
        font-size: 20px;
      }
      p {
        margin: 20px 0px;
        span {
          font-weight: 500;
        }
      }
    }
  }

  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    padding-top: 10px;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    span {
      font-weight: 400;
    }
  }
  p {
    span {
      font-weight: 600;
    }
  }
}

// for desktop
@media (min-width: 978px) {
  .more_info {
    padding: 20px 30px;
    border-left: 1px solid #e0e0e0;
    border-top: 0px;
    .posting_button {
      width: 52%;
    }
  }
}
