.more_info {
  border-left: 0px;
  border-top: 1px solid #e0e0e0;
  padding: 20px 30px; // removed in tutor list
  height: 100%;

  .posting_buttons {
    display: flex;
    width: 70%;
  }

  img {
    width: 70%;
    border-radius: 20px;
  }

  svg {
    color: red;
  }
  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    padding-top: 10px;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    span {
      font-weight: 400;
    }
  }
  p {
    span {
      font-weight: 600;
    }
  }
}

@media (min-width: 978px) {
  .more_info {
    border-left: 1px solid #e0e0e0;
    border-top: 0px;
  }
}
