.more_info {
  border-left: 0px;
  border-top: 1px solid #e0e0e0;
  padding: 20px 30px; // removed in tutor list
  height: 100%;

  .posting_buttons {
    display: flex;
    width: 70%;
  }

  img {
    width: 70%;
    border-radius: 20px;
  }

  .tutorinfo_content {
    padding: 20px 0px;
    .tutorinfo_text {
      h2 {
        font-weight: 500;
        font-size: 20px;
      }
      p {
        margin: 20px 0px;
        span {
          font-weight: 500;
        }
      }
      .sub_section {
        display: block;
        p {
          margin-bottom: 0px;
        }
        .second {
          margin-left: 0px;
        }
        .extra_margin {
          margin-bottom: 20px;
        }
      }
    }
  }

  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    padding-top: 10px;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    span {
      font-weight: 400;
    }
  }
  p {
    span {
      font-weight: 600;
    }
  }
}

@media (min-width: 978px) {
  .more_info {
    border-left: 1px solid #e0e0e0;
    border-top: 0px;
    .tutorinfo_content {
      .tutorinfo_text {
        .sub_section {
          display: flex;
          .second {
            margin-left: 12px;
          }
        }
      }
    }
  }
}
