.tutor_info {
  border-bottom: 1px solid #e0e0e0;
  .tutor {
    padding: 15px;
    display: block;

    .user_img {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        height: 350px;
        width: 100%;
        min-height: 160px;
      }
    }

    .content {
      padding-left: 2px;
      h1 {
        font-weight: 500;
        font-size: 25px;
        margin: 10px 0px;
      }
      .view_more {
        color: #797e8a;
        margin-top: 15px;
      }
      .tags {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
      }
      .outlined_button {
        display: block;
      }
    }
    &:hover {
      background-color: #d0e6f0;
      cursor: pointer;
    }
  }
}

@media (min-width: 978px) {
  .tutor_info {
    .tutor {
      padding: 15px;
      display: flex;
      .user_img {
        display: flex;
        justify-content: center;
        position: relative;

        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          min-height: 0px;
        }
      }
      .content {
        h1 {
          margin: 0px;
        }
        .view_more {
          display: none;
        }
        padding-left: 20px;
        .outlined_button {
          display: none;
        }
      }
    }
  }
}
