.edit_container {
  background-color: #d0e6f0;
  border-radius: 15px;
  margin: 20px 0px;
  padding: 25px;
  .first_text_field {
    width: 100%;
  }
  h4 {
    font-size: 22px;
    font-weight: 600;
  }
  .advanced_info_margin {
    margin: 25px 0px;
  }
  .button_container {
    margin-top: 25px;
    display: flex;
    justify-content: end;
  }
}
