.multi_carousel {
  background-color: #f3f4f6;
  p {
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #555d6a;
  }

  .carousel {
    height: 20vh;
    img {
      height: 140px;
      max-width: 204px;
      padding: 10px;
    }
  }
}
