.questions {
  padding: 3rem 1rem;
  .faq-row-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2.5rem 2rem;
    .faq-title {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 800;
      padding-bottom: 1.5rem;
    }

    .faq-body {
      .faq-row {
        padding: 1rem 0rem;
        .row-title {
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
        .row-content {
          .row-content-text {
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: #797e8a;
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .questions {
    padding: 3rem 11rem;
    .faq-row-wrapper {
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      .faq-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }
  }
}
