.tutor_steps {
  padding: 1.5rem 1rem;
  h1 {
    text-align: left;
  }
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .text {
    .title {
      margin: 0rem;
      padding-bottom: 0.5rem;
      font-size: 2rem;
    }
    p {
      margin: 0px;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .image {
    text-align: center;
    margin-top: 2rem;
    img {
      height: 200px;
    }
  }

  .content {
    background-color: #f3f4f6;
    padding: 3rem;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 640px) {
  // for desktop
  .student_steps {
    padding: 0rem 11rem 3rem 11rem!important;
  }
  .tutor_steps {
    padding: 3rem 11rem;
    h2 {
      margin-bottom: 3rem;
    }
    .image {
      margin-top: 0rem;
    }
  }
}
