.outlined_button {
  border-radius: 10px;
  background-color: transparent;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;

  .button_container {
    display: flex;
    img {
      width: 20px;
      height: 20px;
      margin: auto 10px auto 0px;
    }
    p {
      line-height: 25px;
      font-size: 12px;
    }
  }
}
