.header {
  margin-top: 70px;
  h1 {
    font-weight: 600;
    font-size: 35px;
  }

  h6 {
    color: #6e757c;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
