.home {
  margin: 10px;
  .sub_header {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    border: 0;
  }

  .loading {
    font-weight: 400;
    font-size: 20px;
    padding: 20px 0px;
  }

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #221f20;
  }
}

@media only screen and (min-width: 978px) {
  // for desktop
  .home {
    margin: 40px;
  }
}


@media (min-width: 1200px) {
  .home {
    .home_action_box {
      margin-top: 20px;
      display: flex;
      .home_action_box_link {
        flex: 1;
      }
    }
  }
}
