.notif_page {
  padding: 20px;
  height: 100vh;
  background-color: #d1e6f6;
  align-items: center;
  overflow: scroll;
  border-radius: 5px;
  p {
    padding-top: 15px;
    font-size: 15px;
    span {
      font-weight: 600;
    }
  }
  h6 {
    color: #6e757c;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
  }
}
