.student_home {
  .student_home_content {
    padding-top: 360px;
    margin: 10px;
  }

  .sub_header {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .loading {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    padding: 20px 0px;
  }

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #221f20;
  }
}

@media (min-width: 1200px) {
  .student_home {
    .student_home_content {
      margin: 40px;
    }
    .home_action_box {
      margin-top: 20px;
      display: flex;
      .home_action_box_link {
        flex: 1;
      }
    }
  }
}
