.tutor_home {
  .tutor_home_content {
    padding-top: 360px;
    margin: 10px;
  }

  .sub_header {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    border: 0;
  }

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #221f20;
  }
}

@media (min-width: 978px) {
  .tutor_home {
    .tutor_home_content {
      margin: 40px;
    }
    .home_action_box {
      margin-top: 20px;
      display: flex;
      .home_action_box_link {
        flex: 1;
      }
    }
  }
}
