.tutor_home {
  .tutor_home_content {
    padding-top: 360px;
    margin: 10px;
  }

  .tutor_info {
    .tutorinfo_box {
      margin-top: 20px;
    }
  }

  .sub_header {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #221f20;
  }
}

@media (min-width: 978px) {
  .tutor_home {
    .tutor_home_content {
      margin: 40px;
    }
    .tutor_info {
      .tutorinfo_box {
        margin-top: 20px;
        width: 65%;
      }
    }
    .home_action_box {
      margin-top: 20px;
      display: flex;
      .home_action_box_link {
        flex: 1;
      }
    }
  }
}
