.tutor_home {
  .tutor_home_content {
    padding-top: 360px;
    margin: 10px;
  }

  .sub_header {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .tutor_home_info {
    background-color: #d1e6f6;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 25px;
    h1 {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 10px;
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
      padding: 8px 0px;

      span {
        font-weight: 400;
      }
    }
    p {
      padding-bottom: 8px;
      span {
        font-weight: 600;
      }
    }
    .first_p {
      padding-top: 8px;
    }
  }

  hr {
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    border: 0;
  }

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #221f20;
  }
}

@media (min-width: 978px) {
  .tutor_home {
    .tutor_home_content {
      margin: 40px;
    }
    .home_action_box {
      margin-top: 20px;
      display: flex;
      .home_action_box_link {
        flex: 1;
      }
    }
  }
}
