.action_box {
  display: flex;
  width: 90%;
  padding: 20px 20px;
  margin: 20px;
  filter: 0px 4px 17px rgb(76 101 113 / 20%);
  box-shadow: 0px 4px 17px rgb(76 101 113 / 20%);
  border-radius: 20px;

  img {
    height: 50px;
    width: 50px;
    margin: auto 10px auto 0px;
  }
  h2 {
    font-size: 23px;
    font-weight: 400;
  }
  h6 {
    font-size: 16px;
    font-weight: 300;
  }
  &:hover {
    z-index: 1000;
    background-color: #e1eff6;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .action_box {
    width: 100%;
  }
}
