.filter {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  .tag_box {
    margin: 20px 5px 0px 5px;
  }
}

@media (min-width: 1200px) {
  .filter {
    h4 {
      margin-top: 24px;
    }
    .tag_box {
      margin: 20px 20px 0px 20px;
    }
  }
}
