.create_second_section {
  .text_field,
  .form_control {
    background-color: white;
    border-radius: 4px;
  }
  .chips {
    display: flex;
    flex-wrap: wrap;
  }

  .chip {
    margin: 2;
  }

  .second_text_field {
    width: 100%;
  }

  .second_section_left_margin {
    margin-left: 0px;
  }

  .salary_space {
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }

  h1 {
    font-weight: 600;
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 20px;
    span {
      font-weight: 300;
    }
  }
}

@media (min-width: 1200px) {
  .create_second_section {
    .second_section_left_margin {
      margin-left: 20px;
    }
    .salary_space {
      margin-top: 0px;
    }
  }
}
