.second_button {
  border-radius: 15px;
  background-color: #1f026b;
  color: white;
  border: 2px solid #1f026b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    background-color: #280483;
  }
}

@media only screen and (min-width: 1000px) {
  .second_button {
    padding: 14px 30px;
  }
}