.posting_box {
  border: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
  border-radius: 6px;
  margin: 20px;
  &:hover {
    background-color: #e4eff5;
  }

  .posting_header {
    display: block;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    .header_text {
      margin: auto 0px;
      h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
      }
      h3 {
        font-weight: 400;
        font-size: 15px;
        color: #6f7070;
      }
    }
    .apply_button {
      margin-top: 10px;
      button {
        background-color: #2cc3a0;
        &:hover {
          background-color: rgb(78, 204, 175);
        }
      }
    }
  }

  .posting_content {
    padding: 15px;
    font-size: 14px;
    .posting_text {
      margin-bottom: 15px;
      p {
        margin: 7px 0px;
        span {
          font-weight: 500;
        }
      }
      .sub_section {
        display: block;
        .second {
          margin-left: 0px;
        }
      }
    }

    .posting_buttons {
      padding-top: 15px;
      .other_buttons {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .posting_box {
    .posting_header {
      display: flex;
      .apply_button {
        display: flex;
        justify-content: space-around;

        margin: auto 6px auto auto;
      }
    }

    .posting_content {
      .posting_text {
        .sub_section {
          display: flex;
          .second {
            margin-left: 12px;
          }
        }
      }
      .posting_buttons {
        .other_buttons {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
