.auth_container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  // for mobile
  width: 90%;
  padding: 20px;

  .auth_text_field {
    background-color: white;
    border-radius: 4px;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28px; // for mobile
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25;
  }

  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }

  button {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #2cc3a0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: rgb(78, 204, 175);
    }
  }
}

@media only screen and (min-width: 978px) {
  // for desktop
  .auth_container {
    width: 50%;
    padding: 40px;
    h1 {
      font-size: 35px;
    }
  }
}
