.auth_container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  // for mobile
  width: 100%;
  padding: 20px;
  box-shadow: none;

  .auth_text_field {
    background-color: white;
    border-radius: 4px;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28px; // for mobile
  }

  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }

  button {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #59c1a9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: #5cc8af;
    }
  }
}

@media only screen and (min-device-width: 978px) {
  // for desktop
  .auth_container {
    width: 50%;
    padding: 40px;
    background-color: white;
    background-image: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    h1 {
      font-size: 35px;
    }
  }
}
